<app-drawer></app-drawer>
<div class="main-menubar">
    <p-menubar [model]="items" #menuBar [autoDisplay]="false">
        <ng-template #item let-item let-root="root">
            <a pRipple class="flex items-center p-menubar-item-link" [ngClass]="item.class">
                <span>{{ item.label }}</span>
            </a>
        </ng-template>
        <ng-template #end>
            <div class="flex items-center gap-2">
                <a>
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"
                        (click)="menu.toggle($event)" />

                    <p-menu #menu [popup]="true" [model]="avatarMenu"></p-menu>
                </a>
            </div>
        </ng-template>
    </p-menubar>
</div>