/* Hide menu items on desktop screens only */

/* Hide on small screens (less than 768px) */
.hide-on-mobile {
  display: none;
}




@media  (min-width:768px){
 .p-menubar .hide-on-mobile {
  //  These styles are working in styles.css
    display: flex !important; /* or inline-block depending on your menu layout */
     border: 5px solid green !important;
    background: red !important;
    color: white !important;
  }
  .hide-on-desktop {
    // this works
    display: none !important;
  }

}







