h2 {
  text-align: center;
  color: #1976d2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #125ca1;
}
a:hover {
  color: #6366f1;
}
.form-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 100%;
  max-width: 400px;
  // margin: 30px auto;
  // border:1px solid black;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
}
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color:var(--auth-input);
  color:black;
}
input:focus {
    outline: none;
    box-shadow: none;
}

label{
  color:black;
}
button {
  width: 100%;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}

button:hover {
  background: #125ca1;
}
.redirect-login {
  margin-top: 15px;
}

.line-text {
  display: flex;
  align-items: center;
  color: #777;
}
.line-text::before,
.line-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}
.line-text::before {
  margin-right: 10px;
}

.line-text::after {
  margin-left: 10px;
}


// Media Queries
@media (max-width: 450px) {
  form {
    max-width: 310px;
  }
}