
:host ::ng-deep .p-card{
    // width:100%;
    // // max-width:500px;
//   background-color: #1e1e26;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
  color:var( --text-main);
}
:host ::ng-deep .my-card .p-card-header {

 padding: 16px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-main);
  border-radius: 8px 8px 0 0;
   background:var(--card-header);
}
:host ::ng-deep .my-card .p-card-body{
    padding:0 !important
}
:host ::ng-deep .my-card .p-card-content{
    padding:15px !important
}
:host ::ng-deep .my-card .p-card-footer{
    display:flex;
    margin-top:1px;
    justify-content:space-between;
    align-items:center;
    background-color:var(--card-footer);
    padding:8px;
    color: #b0b0c0; /* Softer gray for non-primary text */
    font-size: 14px;
}

// action buttons
button{
    border:none;
    cursor:pointer;background-color:transparent;
    color:var(--action-button-color);
}
button:hover {
  color: var(--action-button-hover);
}
// comment-image
.comment-btn{
width:35px;height:35px;
}

.my-card-container{
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}